.section-container{
    width: 100%;
    min-height: 100vh;   
}

.section-wrapper{
    width: 90%;
    margin: auto;
}


.news-header{
    width: 100%;
    min-height: 45vh;
    background: url("../../assets/Music-Image/bg-removebg-preview.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.artist-news{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
    padding-top: 6.5rem;
    height: 40vh;
  
}

.artist-news h1{
    font-size: 2rem;
}
.artist-news p{
    font-size: 1.2rem;
}

.artist-news button{
    padding: .8rem 3rem;
    border-radius: 50px;
    background: rgba(250, 205, 102, 1);
    border: none;
    font-size: 1.6rem;
}

.news-btn{
    display: flex;
    gap: 2rem;
}