 .banner-section{
    width: 100%;
    min-height: 30Vh;
 }
 
.banner-article{

    background:url('../../assets/Music-Image/bg-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 30Vh;

}

.banner-content{

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
    min-height: 30vh;
    padding-top: 3rem;
    
}

.artise-name h1{

    font-size: 2.2rem;
}

.artise-details p{

    font-size: 1rem;
}

.bttns{

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;

}

.buttn{
    padding: .5rem 2rem;
    background: rgba(250, 205, 102, 1);
    font-size: 1rem;
}